<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassGuard</title>
    <script src="../scripts/nav.js" defer></script>
    <script src="../scripts/logout.js" defer></script>
    <script src="../scripts/addCred.js" defer></script>
    <script src="../scripts/genPass.js" defer></script>
    <link rel="stylesheet" href="../styles/addCreds.css">
</head>
<body>
    <h1>Add New Credentials</h1>
    <nav>
        <ul>
            <li><a href="#" id="navToHome">Home</a></li>
            <li><a href="#" id="navToAddCred" class="active">Add New Credentials</a></li>
            <li><a href="#" id="navToSettings">Settings</a></li>
            <li><a href="#" id="logoutBtn">Logout</a></li>
        </ul>
    </nav>
    
    <!-- Error Message on the Top Right -->
    <div>
        <p id="errorMsg"></p>
    </div>

    <div id="addingCredsContainer">
        <!-- Form for Adding Credentials -->
        <form id="addCredForm" class="form">
            <label for="title" class="secondTitles">Add credentials</label>

            <label for="title">Title:</label>
            <input name="title" id="title" type="text" placeholder="www.someWebsite.org">
            
            <label for="username">Username:</label>
            <input name="username" id="username" type="text" placeholder="myUsername123">
            
            <label for="password">Password:</label>
            <input name="password" id="password" type="text" placeholder="secretPassword123">
            
            <button type="button" id="addCredBtn">Add Credential</button>
            <button id="genPassBtn" type="button">Generate password</button>
        </form>
        <!-- Form for password generation -->
        <form id="passGenForm" class="form">
            <label for="passLength" class="secondTitles">Password generation settings</label>

            <label for="passLength">Length:</label>
            <input name="passLength" type="text" placeholder="20" id="passLength">

            <div class="checkbox-container">
                <label for="lowercase">Use lowercase characters</label>
                <input type="checkbox" name="lowercase" id="lowercase" checked>
                <p>abcdefghijklmnopqrstuvwxyz</p>
            </div>

            <div class="checkbox-container">
                <label for="uppercase">Use uppercase characters</label>
                <input type="checkbox" name="uppercase" id="uppercase" checked>
                <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
            </div>

            <div class="checkbox-container">
                <label for="digits">Use digits</label>
                <input type="checkbox" name="digits" id="digits" checked>
                <p>0123456789</p>
            </div>

            <div class="checkbox-container">
                <label for="symbols">Use symbols</label>
                <input type="checkbox" name="symbols" id="symbols" checked>
                <p>!@#$%^&*()_-+=[]{}|:;\"<>,.?/~"</p>
            </div>

            <div class="checkbox-container">
                <label for="excludeSimilars">Exclude similars</label>
                <input type="checkbox" name="excludeSimilars" id="excludeSimilars">
                <p>0O1Il5S</p>
            </div>

            <label for="charsToExclude">Characters to exclude when generating:</label>
            <input name="charsToExclude" id="charsToExclude" type="text" placeholder="$/[]123Abc.:;_">
    
        </form>
    </div>

</body>
</html>
