<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassGuard</title>
    <script src="../scripts/development.js" defer></script>
    <script src="../scripts/nav.js" defer></script>
    <script src="../scripts/logout.js" defer></script>
    <script src="../scripts/credentialsOverview.js" defer></script>
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
    <h1>Home</h1>
    <nav>
        <ul>
            <li><a href="#" id="navToHome" class="active">Home</a></li>
            <li><a href="#" id="navToAddCred">Add New Credentials</a></li>
            <li><a href="#" id="navToSettings">Settings</a></li>
            <li><a href="#" id="logoutBtn">Logout</a></li>
        </ul>
    </nav>
    <!-- <button id="devToolsBtn">Dev Tools</button> -->
    <div>
        <p id="errorMsg"></p>
    </div>
    <div id="credentials-container">

    </div>
</body>
</html>
